<p id="notice"><%= notice %></p>

<div class="note-show-wrapper">
    <div class="note-show">

        <strong class="note-title2">  <%= @note.title %></strong>
        <strong class="note-body">  <%= @note.body %></strong>

    </div>
</div>

<%=link_to edit_note_path(@note), :action => 'go' do%>
    <div class="link-edit-note">
        EDIT
    </div>
<%end%>

<% @note.try(:id)%>
<% @note.try(:format)%>

 <%=link_to export_notes_path(id: @note.id, format: 'pdf'), :action => 'go' do%>
    <div class="link-export-note">
        EXPORT
    </div>
<%end%> 


<%=link_to notes_path, :action => 'go' do%>
    <div class="link-book-show-notes">
        BOOK
    </div>
<%end%>
