<p id="notice"><%= notice %></p>

<h1>Auxes</h1>

<table>
  <thead>
    <tr>
      <th>Hola</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auxes.each do |aux| %>
      <tr>
        <td><%= aux.hola %></td>
        <td><%= link_to 'Show', aux %></td>
        <td><%= link_to 'Edit', edit_aux_path(aux) %></td>
        <td><%= link_to 'Destroy', aux, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aux', new_aux_path %>
