

<p id="wrong-password"><%= notice %></p>
<% user_id = get_current_user_id %>

<div class="show-profile">

    <div class="username-tag"> 
        <h2 class="username-title">   <%= @user.username%> </h2>
    </div>

    

    <div class="new-password">

        <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>

            <%= f.hidden_field :id, :value => user_id%>

            <div class="field">
                <%= f.label :password, "New Password" %>
                <%= f.password_field :password, :autocomplete => "off"  %>
            </div>
            <br />
            
            <div class="field">
                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation %>
            </div>
            <br />
            <div class="action_container">
                <%= f.submit %>
            </div>

        <% end %>
    </div>

    <div class="datos-profile">

        <%= form_for(@user, :url => { :method => "edit" } ) do |f| %>

            <div class="field">
                <%= f.label :email, "Email" %> 
                <%= f.email_field :email %> 
            </div>
            <br />

            <div class="field">
                <%= f.label :username, "Username" %>
                <%= f.text_field :username %>
            </div>
            <br />

            <div class="action_container">
                <%= f.submit %>
            </div>

        <% end %>
    </div>


    <%=link_to user_path, :method => :delete, :action => 'go' do%>
        <div class="link-delete-user">
            DELETE
        </div>
    <%end%>


</div>