<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<section class="books-index">
  <div class="books-wrapper">
    <% @books.each do |book| %>

    <%=link_to book, :action => 'go' do%>
      <div id="img-book">
        <h2 class="book-title">     <%= book.title %> </h2>
      </div>
    <%end%>


  <!--
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, data: { confirm: 'Are you sure?' },  method: :delete %></td>
  -->
      
    <% end %>
  </div>
</section>

<%=link_to new_book_path, :action => 'go' do%>
  <h2 class=newbook> + </h2>
<%end%>
