

<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>


<div class="username-selecteduserbooks">
  My Composition Books:
</div>


<% @books.each do |book| %>
  <div class="book-wrapper">

    <%=link_to book, :action => 'go' do%>
      <div id="img-book2">
        <% if book.private %>
          <h2 class="book-title-private"> <%= book.title %> </h2>
        <% else %>
          <h2 class="book-title"> <%= book.title %> </h2>
        <% end %>
      </div>
    <%end%>

    <section class="notes-index">
      <div class="notes-wrapper">
        <% notes = Note.where(book_id: book.id)%>
        <% notes.each do |note| %>
          <%=link_to note, :action => 'go' do%>
            <div id="img-note">
              <h2 class="note-title">
              <%= note.title %>
              </h2>
            </div>
          <%end%>
        <% end %>

      </div>
    </section>
  </div>

  <br />

<% end %>

<%=link_to new_book_path, :action => 'go' do%>
  <h2 class=link-new-book> + </h2>
<%end%>

