<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<section class="books-index">
  <div class="books-wrapper">
    <% @books.each do |book| %>

    <%=link_to book, :action => 'go' do%>
      <%if book_is_mine?(book.id)%>
        
        <div id="img-book">
          <%if book.private%>
              <h2 class="book-title-private">     <%= book.title %> </h2>
          <%else%>
            <h2 class="book-title">     <%= book.title %> </h2>
          <%end%>
        </div>

      <%else%>

          <%if !book.private%>
            <div id="img-book">
              <h2 class="book-title">     <%= book.title %> </h2>
            </div>
          <%end%>
        
      <%end%>
    <%end%>

    <% end %>
  </div>
</section>

<%=link_to new_book_path, :action => 'go' do%>
  <h2 class=link-new-book> + </h2>
<%end%>
