<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<div class="book-title-show"> <%= @book.title %> </div>



<% if book_is_mine?(@book.id)%>

<% else %>

  <%=link_to selecteduserbooks_books_path, 'user_id' => @book.user_id,  :action => 'go' do%>
      <div class="links-user-book">
          BY: <%= User.find(@book.user_id).email%>
      </div>
  <%end%>

<%end%>

<section class="notes-index">
  <div class="notes-wrapper">
    <% @book_notes.each do |note| %>

    <%=link_to note, :action => 'go' do%>
      <div id="img-note">
        <h2 class="note-title">     <%= note.title %> </h2>
      </div>
    <%end%>


    <% end %>
  </div>
</section>



<% if book_is_mine?(@book.id) %>
  <%=link_to new_note_path, :action => 'go' do%>
      <div class="links-new-note">
        +
      </div>
  <%end%>

  <%=link_to new_note_path, :action => 'go' do%>
      <div class="links-delete-book">
        DELETE
      </div>
  <%end%>

  <%=link_to edit_book_path(@book), :action => 'go' do%>
      <div class="links-edit-book">
          EDIT
      </div>
  <%end%>

<% end %>

<%=link_to books_path, :action => 'go' do%>
    <div class="links">
        BACK
    </div>
<%end%>


