<!DOCTYPE html>
<html>
  <head>
    <title>Composition Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <header class="nav">
      <ul class="nav navbar-nav">
        <li>
          
          <% user_id = get_current_user_id %>
          <%=link_to user_path(user_id) , :action => 'go' do%>
              <span class="username-nav"> <%= User.find(user_id).username %> </span>
          <%end%>

          <span class="barra-separadora"> | </span>
          <%=link_to books_path, :action => 'go' do%>
              <span class="username-nav"> HOME </span>
          <%end%>

          <span class="barra-separadora"> | </span>
          <%=link_to currentuserbooks_books_path, :action => 'go' do%>
              <span class="username-nav"> My BOOKS </span>
          <%end%>
          
          <span class="barra-separadora"> | </span>
          <%=link_to destroy_user_session_path, method: :delete , :action => 'go' do%>
              <span class="username-nav"> BYE </span>
          <%end%>
          
        </li>
      </ul>

    </header>
  
  </head>

  <body>
    <%= yield %>
  </body>


</html>
