<!DOCTYPE html>
<html>
  <head>
    <title>Composition Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <header class="nav">
      <ul class="nav navbar-nav">
        <li>

          <%=link_to "HOME", books_path%>
          <span> | </span>
          <%=link_to "MY BOOKS", currentuserbooks_books_path%>
        
          <span> | </span>
          <%= link_to 'BYE', destroy_user_session_path, method: :delete  %>
        </li>
      </ul>

    </header>
  
  </head>

  <body>
    <%= yield %>
  </body>


</html>
